<!DOCTYPE html>
<html>
  <head>
    <title>ProRent2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
       #map {
        height: 500px;
        width: 80%;
       }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
